*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url(../img/loginbg.jpeg);
    background-size: 100% 100%;
}
a:link{
    text-decoration: none!important;
}
a:hover{
    text-decoration: none!important;
  }

.login{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    display: grid; 
    place-items: center;
    height:90vh;
    width: 100vw;
}

.card{
    border: 2px solid blue;
    /* box-shadow: 0 0 20px red; */
    
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    padding: 10px;
    background: dodgerblue;
    color: white;
    border-radius: 3px 0 0 3px;
    margin:20px 0 0 0 ;
}

.form-control{
    border-radius: 0 10px q0px 0!important;
    width: 15rem!important;
    margin:20px 0 0 0 ;
}
.btn,.adminbtn{
    display: grid;
    place-items: center;
    width: 20vw;
}
.btn a, .adminbtn a{
    border: 2px solid rgb(46, 102, 223);
    padding: 2px 20px;
    border-radius: 100px;
    margin:10px 0 0 0 ;
}

.adminbtn a{
    padding: 5px 60px!important;
    background: rgb(46, 102, 223);
    color: white;
}
.adminbtn a:hover{
    color: rgb(46, 102, 223)!important;
    background: white!important;
    transition: 0.3s ease;
}

.btn a:hover{
    background:rgb(46, 102, 223);
    color: #fff;
    transition: 0.3s ease-in-out;
}

.btn-primary{
    width: 5rem;
}

.user_icon{
    border: 1rem solid white;
    padding: 2rem;
    color: white;
    background: black;
    border-radius: 50%;
    position: absolute;
    top:15%;
    z-index: 99999;
    box-shadow:5 5 10px black;
}
